.overlay-form {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: .2);
    z-index: 10000;
    &.open {
        display: block;
    }
}

.form-map {
    position: absolute;
    max-width: 500px;
    min-height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 30px;
    background: #FFFFFF;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 30px;
    &__btn {
        &_close {
            position: absolute;
            top: 5px;
            right: 15px;
            font-size: 1.875rem;
            color: rgb(218, 30, 30);
            cursor: pointer;
        }
    }
    &__heading {
        text-align: center;
        font-size: 1.875rem;
        font-weight: 700;
        color: blue;
    }
    &__fields {
        margin-top: 15px;
        width: 300px;
    }
    &__input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        outline: none;
        padding: 0 15px;
        background: none;
        color: rgba(31, 32, 65, 0.75);
        font-size: .75rem;
        margin-bottom: 15px;
    }
    &__textarea {
        width: 100%;
        min-height: 40px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        outline: none;
        padding: 5px 15px;
        background: none;
        color: rgba(31, 32, 65, 0.75);
        font-size: .75rem;
    }
    & input[type=number] {
        appearance: none;
        &::-webkit-inner-spin-button {
            display: none;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 20px;
    }
}

