.left-panel {
    display: none;
    position: absolute;
    padding: 20px;
    padding-top: 50px;
    max-width: 320px;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 40%);
    z-index: 1000;
    transition: all 1s ease-out;
    &.open {
        display: flex;
    }
    &__btn {
        height: 50px;
        width: 160px;
        padding: 5px;
        border: none;
        background-color: #fff;
        box-shadow: 3px 3px 10px rgb(0 0 0 / 15%);
        margin-bottom: 25px;
        cursor: pointer;
        outline: none;
        &:hover {
            box-shadow: 3px 3px 10px rgb(0 0 0 / 30%); 
        }
        &:last-child {
            margin-bottom: 0;
        }
        &_close {
            position: absolute;
            top: 0;
            right: 5px;
            font-size: 1.875rem;
            color: rgb(218, 30, 30);
            cursor: pointer;
        }
    }
}