.menu-hamburger {
    height: 40px;
    width: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    background-color: #fff;
    color: rgba($color: #000000, $alpha: .8);
    font-weight: 700;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 30%);
    border-radius: 2px;
    z-index: 1000;
    cursor: pointer;
    transition: .6s all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    &__icon {
        margin-right: 10px;
    }
    &:hover {
        background-color: lightgray;
        color: #000;
    }
    & span {
        margin-bottom: 7px;
        display: block;
        width: 25px;
        height: 2px;
        background-color: #000;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__title {
        font-size: 16px;
    }
    
        
}